body
{
    background-color:;
    margin:auto;
}

.bloc_nav ul
{
    background-color:#1589FF;
    height:40px;
    padding:4px;
    width:1344px;
}


.bloc_nav ul
{
    background-color:#1589FF;
    height:40px;
    padding:0;
    width:auto;
}

.bloc_nav li
{
    font-size:15px;
    color:white;
    font-weight:bold;
    border-left:0px groove #7FE817;
    background-color:#1589FF;
    display:inline;
    margin:2%;
  
}

.bloc_nav ul li:hover
{
    font-size:15px;
    color:white;
    font-weight:bold;
    border-left:0px groove #7FE817;
    background-color:#1589FF;
    display:inline;
}

    
    .box_mail_in_nav img    
    {
    width:25px;
    height:25px;
    top:25px;    
        
    }

.box_mail_in_nav
{
   position:absolute; 
    top:-30px;
}
    

#i2
{
    float:left;
    border-radius:60%;
    width:20%;
    height:15%;
}

#ii2
{
    display:none;
}

#bloc_internet
{
    top:1%;
    margin-left:2%;
    margin-right:2%;
    margin-top:2%; 
    border-top:15px groove #1171E5;
    border-left:8px groove #1171E5;
    border-radius:1%;
    padding:5%;
}

#bloc_internet p

{
    font-size:105%;
}


h2
{
    font-family:times new romans;
    text-transform:uppercase;
    font-size:200%;
    font-weight:bold;
    text-align:center;
    background-color:#0E5D94;
    margin-left:1.5%;
    margin-right:1.5%;
}

#allez+
{
    background-color:#278BAD;
}

#pied1 p
{
    font-size:80%;
    color:green;
    text-align:center;
    font-weight:bold;
}

#pied1
{
    background-color:black;
}


/*internet2*/   /*internet2*/   /*internet2*/   /*internet2*/

h3
{
    text-align:justify;
    font-size:230%;
    font-weight:bolder;
    color:#8D27AD;
}

#bloc_terminologie_histoire
{
    margin-left:2%;
    margin-top:2%;
    width:95%;
    position:relative;
}

#bloc_terminologie_histoire p
{
    font-size:125%;
    line-height:190%;

}

.bloc_suivant
{
   position:relative;
    left:2%;
    top:5%;
    width:auto;
    background-color:#000000;
    animation-name:none;
    animation-delay:none;
    animation-duration:none;
    animation-iteration-count:none;
     
}



#bloc_histoire
{
    margin-right:2%;
    margin-left:2%;
    line-height:225%;

}

.bloc_suivant a
{
    font-size:30%;
    font-weight:bold;
    text-decoration:underline;
    text-align:center;
    margin:0.5%;
}

ul li
{
    display:inline;
}

#video_2, #bloc_terminologie_histoire
{
    display:block;
   
}

#video_2
{
    width:98%;
    position:relative;
    left:0%;
}


#video_1, #video_3, 
}
    display:none;
}

#audio_4
{
    position:absolute;
    right:80%;
}


#audio_1,#audio_2,#audio_3
{
    display:none;
}

/*internet 3 */ /*internet 3 */ /*internet 3 */ /*internet 3 */


.bloc_suivant3
{
    position:absolute;
    top:30%;
    right:74%;
    width:25%;
    background-color:#DEA256;
     animation-name:bloc_suivant1;
    animation-delay:0s;
    animation-duration:5s;
    animation-iteration-count:infinite;
}

.bloc_suivant3 li
{
    font-size:150%;
    font-weight:bolder;
}

/*internet 3*/ /*internet 3*//*internet 3*//*internet 3*//*internet 3*/

.bloc_suivant3
{
   position:relative;
    left:2%;
    top:5%;
    width:auto;
    background-color:#000000;
    animation-name:none;
    animation-delay:none;
    animation-duration:none;
    animation-iteration-count:none;
}

ul li
{
     list-style:none;
    display:inline;
    text-align:Center;
}

.bloc_suivant3 a
{
    font-size:65%;
    font-weight:bold;
    text-decoration:underline;
    text-align:center;
}

#bloc_gouvernance_et_juridiction
{
    margin-right:3%;
    position:relative;
    line-height:225%;
    margin-left:4%;
}
#bloc_gouvernance_et_juridiction p
{
    font-size:125%;
    
}

#iii3
{
    border-radius:60%;
    padding:1%;
    width:35%;
    height:10%;
}

#iiii3
{
    float:left;
    border-radius:60%;
    padding:1%;  
    width:35%;
}

#audio_4
{
    position:relative;
    left:8%;
    top:66.5%;
    right:2%;

}


#audio_5
{
    position:relative;
    left:8%;
    top:85%;
    right:2%;
}




